<div class="listing">
  <div class="listing__container container">
    <h2 class="listing__title title">Клиенты</h2>
    <table id="listing-crm" class="listing__table">
      <thead class="listing__thead">
        <tr class="listing__thead-tr">
          <th id="col-id" class="listing__thead-th">
            <span class="listing__thead-th-text">ID</span>
            <span class="visually-hidden">Стрелки вверх/вниз</span>
            <svg class="listing__thead-th-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#Arrow-up"></use>
            </svg>
          </th>
          <th id="col-fullname" class="listing__thead-th">
            <span class="listing__thead-th-text">Фамилия Имя Отчество</span>
            <span class="visually-hidden">Стрелки вверх/вниз</span>
            <svg class="listing__thead-th-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#Arrow-up"></use>
            </svg>
            <span class="listing__thead-th-text-alphabet">А-Я</span>
          </th>
          <th id="col-date-create" class="listing__thead-th">
            <span class="listing__thead-th-text">Дата и время создания</span>
            <span class="visually-hidden">Стрелки вверх/вниз</span>
            <svg class="listing__thead-th-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#Arrow-up"></use>
            </svg>
          </th>
          <th id="col-latest-change" class="listing__thead-th">
            <span class="listing__thead-th-text">Последние изменения</span>
            <span class="visually-hidden">Стрелки вверх/вниз</span>
            <svg class="listing__thead-th-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#Arrow-up"></use>
            </svg>
          </th>
          <th id="col-contacts" class="listing__thead-th">
            <span class="listing__thead-th-text">Контакты</span>
          </th>
          <th id="col-actions" class="listing__thead-th">
            <span class="listing__thead-th-text">Действия</span>
          </th>
        </tr>
      </thead>
      <tbody id="listing-crm-body" class="listing__tbody"></tbody>
    </table>
    <button id="openModalBtn" class="listing__btn btn-reset">
      <span class="listing__btn-text">Добавить клиента</span>
      <span class="visually-hidden">Добавить клиента</span>
      <svg class="listing__btn-icon-svg" aria-hidden="true">
        <use xlink:href="img/sprite.svg#Add_user"></use>
      </svg>
    </button>
  </div>
</div


