.listing
  position: relative
  padding-top: 40px

  @include tablet-small
    overflow-x: scroll
    scroll-behavior: smooth
    &::-webkit-scrollbar
      width: 10px
    &::-webkit-scrollbar-track
      background-color: $color-gray
    &::-webkit-scrollbar-thumb
      background-color: $color-grey-dark
    @-moz-document url-prefix()
      scrollbar-width: thin
      scrollbar-color: $color-grey-dark $color-gray-light
      scrollbar-gutter: auto

  &__title
    margin-bottom: 22px
    @include tablet-small
      width: 100%
      margin-left: 5px
      margin-right: 5px

  &__table
    box-sizing: border-box
    @include tablet-small
      margin-left: 5px
      margin-right: 5px
      min-width: $containerMinWidth
      overflow-x: scroll
      scroll-behavior: smooth

  &__thead
    display: table
    table-layout: fixed
    width: 100%

    &-tr
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      height: 30px
      @include laptop
        align-items: flex-end

    &-th
      border: none
      padding-bottom: 8px
      width: 100%
      text-align: left
      cursor: none
      pointer-events: none

      &:hover .listing__thead-th-text
        color: $color-black

      &:hover .listing__thead-th-icon,
      &:hover .listing__thead-th-text-alphabet
        opacity: 1

      &:first-child
        padding-left: 20px
        max-width: 145px
        @include laptop
          max-width: 125px

      &:nth-child(2)
        padding-left: 10px
        max-width: 100%

        @include laptop
          max-width: 160px
          padding-left: 5px

        @include tablet-big
          max-width: 150px

      &:nth-child(3)
        max-width: 175px

        @include laptop
          max-width: 130px
          padding-left: 0px

        @include tablet-big
          max-width: 100px
          padding-left: 18px

      &:nth-child(4)
        max-width: 175px

        @include laptop
          max-width: 130px
          padding-left: 10px

        @include tablet-big
          max-width: 100px
          padding-left: 12px

      &:nth-child(5)
        padding-right: 30px
        padding-left: 0
        max-width: 150px

        @include laptop
          max-width: 140px
          padding-right: 20px
          padding-left: 5px

        @include tablet-big
          max-width: 135px
          padding-left: 8px

      &:nth-child(6)
        padding-right: 10px
        padding-left: 10px
        max-width: 215px

        @include laptop
          padding-left: 0
          max-width: 205px

        @include tablet-big
          max-width: 105px

      &:nth-last-child(-n + 2)
        cursor: none
        pointer-events: none

      &-text
        font-weight: $fontWeight-Regular
        color: $color-grey-dark
        opacity: 0.7
        cursor: pointer
        pointer-events: auto
        @include transition((color), .5s, ease)
        @include fontSize-lineHeight(12px, normal)

        &:nth-last-child(-n + 2)
          cursor: none
          pointer-events: none

        &-alphabet
          font-weight: $fontWeight-SemiBold
          color: $color-firm
          opacity: 0.7
          cursor: pointer
          pointer-events: auto
          @include fontSize-lineHeight(10px, normal)

      &-icon
        width: 8px
        height: 8px
        fill: $color-firm
        opacity: 0.7
        cursor: pointer
        pointer-events: auto
        @include transition((opacity, transform), .5s, ease)
        &--rotate
          transform: rotate(180deg)

  &__tbody
    position: relative
    display: block
    overflow-y: auto
    width: 100%
    height: 300px
    max-height: 300px
    background-color: $color-white
    scroll-behavior: smooth

    &::-webkit-scrollbar
      width: 10px

    &::-webkit-scrollbar-track
      background-color: $color-gray

    &::-webkit-scrollbar-thumb
      background-color: $color-grey-dark

    @-moz-document url-prefix()
      scrollbar-width: thin
      scrollbar-color: $color-grey-dark $color-gray-light
      scrollbar-gutter: auto

    &-loader
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%

      @include tablet-small
        justify-content: start
        margin-left: 25%

      &-icon
        width: 100px
        height: 100px
        fill: transparent
        stroke: $color-firm
        stroke-linecap: round
        stroke-miterlimit: 10
        stroke-width: 8
        @animation(rotateInfinity, 2s, linear)

    &-tr
      position: relative
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      height: 60px

      &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        border-bottom: 1px solid $color-gray-light
        width: 100%
        opacity: 0.5

      &--visible-first
        .listing__tbody-td-contact-tooltip
          top: 17px
          z-index: 9999999

        .listing__tbody-td-contact-tooltip-icon
          transform: rotate(180deg)

        .listing__tbody-td-contact-tooltip-text
          top: 12px

        &:not .listing__tbody-td-contact-tooltip-text
          top: 6px

    &-td
      border: none
      padding-left: 10px
      width: 100%
      text-align: left
      color: $color-black
      @include fontSize-lineHeight(14px, normal)

      &:first-child
        padding-left: 20px
        max-width: 145px

        @include laptop
          max-width: 125px

      &:nth-child(2)
        max-width: 100%

        @include laptop
          max-width: 160px
          padding-left: 5px

        @include tablet-big
          max-width: 150px

      &:nth-child(3)
        max-width: 175px

        @include laptop
          max-width: 130px
          padding-left: 0px

        @include tablet-big
          display: flex
          flex-direction: column
          max-width: 100px
          padding-left: 18px

      &:nth-child(4)
        max-width: 175px

        @include laptop
          max-width: 130px
          padding-left: 10px

        @include tablet-big
          display: flex
          flex-direction: column
          max-width: 100px
          padding-left: 18px

      &:nth-child(5)
        display: grid
        grid-gap: 7px
        grid-template-columns: repeat(5, 1fr)
        padding-right: 30px
        max-width: 150px

        @include laptop
          grid-gap: 2px 7px
          max-width: 140px
          padding-right: 20px

        @include tablet-big
          max-width: 135px
          padding-left: 17px
          padding-right: 8px

      &:nth-child(6)
        display: flex
        justify-content: space-between
        padding-right: 10px
        padding-left: 15px
        height: 100%
        max-width: 215px

        @include laptop
          padding-left: 2px
          max-width: 200px

        @include tablet-big
          flex-direction: column
          align-items: flex-start
          max-width: 105px
          padding: 8px 10px

      &--id,
      &--createdAt span:nth-child(2),
      &--updatedAt span:nth-child(2)
        color: $color-grey-dark

      &--fullName
        overflow: hidden
        max-width: 240px
        text-overflow: ellipsis

      &--createdAt span:nth-child(2),
      &--updatedAt span:nth-child(2)
        margin-left: 7px

        @include tablet-big
          margin-left: 0px

      &--highlighting
        font-weight: $fontWeight-SemiBold
        color: $color-black-dark

      &-contact
        position: relative
        display: inline-block
        width: 16px
        font-size: 0
        cursor: pointer

        &:hover .listing__tbody-td-contact-icon
          opacity: 1

        &:hover .listing__tbody-td-contact-tooltip
          z-index: 9999999
          opacity: 1
          visibility: visible

        &-tooltip
          position: absolute
          left: -85px
          top: -38px
          z-index: 99999999999999
          display: inline-flex
          align-items: center
          justify-content: center
          width: 185px
          height: 37px
          opacity: 0
          visibility: hidden

          @include transition((opacity, visibility), .3s, ease-out)

          &-icon
            flex-grow: 1
            width: 100%
            height: 37px
            min-width: 133px
            fill: $color-black

          &-text
            position: absolute
            left: 0
            top: 5px
            z-index: 11
            display: inline-flex
            align-items: center
            justify-content: center
            width: 100%
            font-weight: $fontWeight-SemiBold
            text-decoration: underline
            text-decoration-color: transparent
            color: $color-white

            @include fontSize-lineHeight(12px, normal)
            @include transition((text-decoration, color), .3s, ease-out)

            &:hover
              text-decoration-color: $color-firm
              color: $color-firm

        &-icon
          width: 16px
          height: 16px
          fill: $color-firm
          opacity: 0.7
          @include transition((opacity), .5s, ease)

          &--phone1
            position: absolute
            left: 4px
            top: 4px
            z-index: 11
            width: 8px
            height: 8px
            fill: $color-white
            opacity: 1

          &--phone2
            fill: $color-firm

        &-btn
          position: relative
          width: 16px
          height: 16px
          font-size: 0

          &-icon
            width: 16px
            height: 16px
            fill: transparent
            stroke: $color-firm

          &-text
            position: absolute
            left: 3px
            top: 2px
            font-weight: $fontWeight-SemiBold
            color: $color-black
            @include fontSize-lineHeight(8px, normal)

      &-btn-edit
        &:hover .listing__tbody-td-btn-edit-text
          color: $color-firm

        &-text
          @include fontSize-lineHeight(14px, normal)
          @include transition((color), .5s, ease)

        &-icon
          width: 12px
          height: 12px
          fill: $color-firm

          &--loader
            fill: transparent
            stroke: $color-firm
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke-width: 8
            @animation(rotateInfinity, 2s, linear)

      &-btn-delete
        &:hover .listing__tbody-td-btn-delete-text
          color: $color-red

        &-text
          @include fontSize-lineHeight(14px, normal)
          @include transition((color), .5s, ease)

        &-icon
          width: 12px
          height: 12px
          fill: $color-red

          &--loader
            fill: transparent
            stroke: $color-firm
            stroke-linecap: round
            stroke-miterlimit: 10
            stroke-width: 8
            @animation(rotateInfinity, 2s, linear)

    &-empty
      position: absolute
      inset: 0
      z-index: 11111
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      background-color: $color-white

      &-title
        font-weight: $fontWeight-SemiBold
        text-align: center
        color: $color-black
        @include fontSize-lineHeight(16px, normal)

        &-first,
        &-second
          display: block

        &-third
          color: $color-firm

  &__btn
    display: flex
    flex-direction: row-reverse
    align-items: center
    margin: 40px auto 5px
    border: 1px solid $color-firm
    padding: 11px 26px
    gap: 10px
    @include transition(background-color, .3s, ease-out)

    &:hover
      background-color: $color-firm-light

    &:hover .listing__btn-text
      color: $color-white

    &:hover .listing__btn-icon-svg
      fill: $color-white

    &:active
      background-color: $color-firm-dark1

    &-text
      font-weight: $fontWeight-SemiBold
      text-align: center
      color: $color-firm
      @include fontSize-lineHeight(14px, normal)
      @include transition(color, .3s, ease-out)

    &-icon-svg
      width: 23px
      height: 16px
      fill: $color-firm
